@model AppMercadoBasico.ViewModels.ViewModel

@{
    ViewData["Title"] = "Make Sell";
}

<div class="container-md col-4">
    <a class="btn btn-primary" asp-controller="Products" asp-action="Create">New Sell</a><partial name="_Error" />
</div>
<div class="container-md col-4 mt-4">

</div>
